
<div class="row">
  <div class="span4">
  <h2> Tecnologia a tu Alcance SHEIT<h2>
  </div>
  
  <div class="span8">
  <div class="hero-unit">
  <h1>Sotware and Hardware IT</h1>
 <p> 
    Ejemplo aplicaci&oacute;n utilizando framework Ruby on Rails
     <%= link_to "Enlace a Oja.la", "http://oja.la"%>
     <%= link_to "Ruby on Rails", "http://rubyonrails.org"%>
  </p>
  <p>
    <%= link_to "Registrarse", "#" , :class=>    "btn btn-primary btn-large" %>
      
    
  </p>
       </div>
   </div>
</div>


  
     
  	 



 



