<ul class="nav nav-pills">
  <li class="active">
    <%= link_to "Inicio", root_path%>
  </li>
  <li><%= link_to "Acerca", acerca_path%></li>
  
</ul>
<ul class="nav nav-pills pull-right">
  <li class="active">
    <%= link_to "Iniciar Sesion", "#"%>
  </li>
  
  
</ul>

  



 

